@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
.logo{
margin-left: 10px;
font-family: 'DynaPuff', cursive;
font-weight: bold;
font-size: 60px;
color: #FF922B;

/* background-color: purple; */
}