


.searchbar {
  flex: auto;
  padding-right: 10px;
  
  width: 100px;
}

.accountInfo {
 
  margin-left: 400px;

} 

.search {
  width: 350px;
  margin-left: auto;
}



.login-button {
  color: white;
  background-color: #16ae9e;
  border: 1px solid #333;
  margin-left: 400px;
}

.image {
  display: inline-block;
  max-width: 30%;
  max-height: 30%;
  
  object-fit: cover;
  
  
}
.images{
  width: 100%;
  
}

.grid-col{
  
  max-width: 870px;
  
}

  
  

.grid-cards{
  
  margin: 2px 2px 2px 0;
  
  
}

.body{
  
  display: grid;
  flex-direction: row;
  
  grid-template-columns: 1fr 1fr 1fr;
  
  
  
  
}

.eventPost{
background-color: #FFA500;
margin-left: 10px;

}